@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-text: hsl(210deg 10% 90% / 1);
  --color-background: hsl(210deg 15% 6% / 1);
  --color-blurred-background: hsl(210deg 15% 6% / 0.75);
  --color-action: hsl(240deg 95% 62% / 1);
  --color-primary: hsl(225deg 100% 75% / 1);
  --color-secondary: hsl(333deg 100% 55% / 1);
  --color-tertiary: hsl(280deg 100% 85% / 1);
  --color-decorative: hsl(200deg 50% 60% / 1);
  --color-info: hsl(225deg 100% 80% / 1);
  --color-info-background: hsl(225deg 100% 80% / 0.1);
  --color-error: hsl(340deg 95% 60% / 1);
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/futura-regular.ttf) format("ttf");
}

@font-face {
  font-family: "Futura";
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/futura-italic.ttf) format("ttf");
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

code {
  position: relative;
  font-family: "Source Code Pro", "Fira Mono", monospace;
  padding: 3px 6px;
  @apply rounded bg-light-blue dark:bg-dark-gray text-gray-700;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

article,
main {
  position: relative;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose h1,
h2,
h3 {
  @apply text-gray-900 dark:text-gray-200;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a {
  text-decoration: none;
  box-shadow: none;
}

.prose h1 a:hover,
.prose h2 a:hover,
.prose h3 a:hover,
.prose h4 a:hover {
  text-decoration: none;
  box-shadow: none;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  box-shadow: 0px 1.5px 0px var(--color-primary);
  transition: box-shadow 200ms ease 0s;
  will-change: transform;
  -webkit-box-decoration-break: clone;
  @apply no-underline text-gray-700 dark:text-gray-400;
}

.prose a:hover {
  box-shadow: none;
  @apply text-blue-600;
}

.prose p {
  @apply text-gray-700 dark:text-gray-400;
}

.prose li {
  @apply text-gray-700 dark:text-gray-400;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Code */

.prose pre {
  @apply rounded-lg dark:bg-dark-gray bg-light-blue;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;
  border: initial;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-100;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-day-pink dark:text-night-pink;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-day-purple dark:text-night-purple;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-day-purple dark:text-night-purple;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-day-purple dark:text-night-purple;
}

.token.function,
.token.class-name {
  @apply text-day-blue dark:text-night-blue;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-gray-700 dark:text-gray-300;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

/* Blog stylings */
aside {
  @apply bg-[#FFDD0040] dark:bg-[#473A1F]  border-l-[#FF9D00] dark:border-[#FFAA00] text-gray-900 dark:text-white p-4 rounded max-w-max sm:max-w-sm border-l-4;
}
